.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: white;
  padding: 10px 20px;
}

.navbar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.nav-left a:hover,
.nav-right a:hover {
  text-decoration: underline;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  background: transparent;
  border: 1px solid white;
  padding: 4px 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.logout:hover {
  background-color: #ff4444;
  border-color: #ff4444;
}
